@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-default: #F1F2F6;
    --white: #FFFFFF;
    --title-color: #2c3e50;
    --paragraph-color: #555;
    --link-color: #1a1a1a;
    --border-radius-default: 30px;
    --border-radius-sheet: 0 25px 0 0;
    --border-radius-image: 50%;
    --gradient-primary-color: #8E2DE2;
    --gradient-deep-purple: #4A00E0;
    --gradient-final-color: #DA22FF;
    --gradient-middle-color: #c46eff;
    --shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #8d2de27e transparent;
}

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(156, 39, 176, 0.1) ;
}

*::-webkit-scrollbar-thumb {
    background-color: #8d2de27e;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

body {
    background-color: var(--background-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Garamond", serif;
    color: var(--title-color);
}

h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

h4 {
    font-size: 21px;
}

p, li {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--paragraph-color);
    font-size: 14px;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.sheet {
    background-color: var(--white);
    width: 794px;
    min-height: 1123px;
    margin: 40px auto;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-sheet);
}

section {
    margin-left: 30px;
    margin-right: 45px;
    margin-bottom: 20px;
    text-align: justify;
}

.section-title {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 61px;
    font-weight: 900;
    max-height: fit-content;
    margin-bottom: 20px;
}

.job-title {
    font-size: 45px;
    font-weight: 600;
    max-height: fit-content;
    max-width: fit-content;
    text-align: left;
    padding-left: 5px;
}

.profile-picture {
    height: 12rem;
    width: 12rem;
    border-radius: var(--border-radius-image);
    object-fit: cover;
    margin-top: 20px;
}

.contact-links {
    display: inline-flex ;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5px;
}

.section-contact a {
    font-size: 16px;
    display: flex;
    gap: 3px;
    height: fit-content;
    width: fit-content;
    align-items: top;
}

.section-work-experience p {
    margin-bottom: 1rem;
}

.skills-lists {
    display: flex;
    gap: 110px;
    justify-content: start; 
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
}

.section-education li {
    margin-left: 30px;
    margin-bottom: 10px;
}

.section-languages li {
    margin-left: 30px;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-open {
    background: linear-gradient(-150deg, var(--gradient-primary-color), var(--gradient-deep-purple));
    color: var(--white);
    padding: 15px 35px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-default);
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button-open:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(138, 43, 226, 0.5);  
}

.secret-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 777;
}

#modal-toggle:checked ~ .secret-section {
    display: flex;
}

.secret-section-content {
    background: var(--white);
    max-width: 600px;
    max-height: 400px;
    border-radius: var(--border-radius-default);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.secret-section-header {
    background: linear-gradient(-150deg, var(--gradient-primary-color), var(--gradient-deep-purple));
    padding: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secret-section-header h4 {
    color: var(--white);
    display: flex;
    font-size: 30px;
    text-align: center;
    
}

.secret-section-body {
    overflow-y: auto;
    padding: 1.5rem;
    max-height: 20%;
    scrollbar-width: auto;
    scrollbar-color: #8d2de27e transparent;
}

.secret-section-body::-webkit-scrollbar{
    width: 8px;
}

.secret-section-body::-webkit-scrollbar-track {
    background: rgba(156, 39, 176, 0.1) ;
}

.secret-section-body::-webkit-scrollbar-thumb {
    background-color: #8d2de27e;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.secret-section-body p {
    font-size: 16px;
}

.secret-section-body ul {
    font-size: 14px;
    margin-left: 40px;
}

.secret-section li {
    margin-bottom: .2rem;
}

.secret-section img {
    height: 10rem;
    width: 10rem;
    object-fit: fill;
    border-radius: var(--border-radius-default);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.italic {
    font-weight: 400;
    font-style: italic;
}

.sqex {
    font-weight: 900;
    font-style: oblique;
    text-decoration: double underline;
}

.centered {
    text-align: center;
}

.button-close {
    margin-top: 15px;
    display: inline-block;
    background: linear-gradient(-150deg, var(--gradient-primary-color), var(--gradient-deep-purple));
    color: var(--white);
    padding: 8px 15px;
    margin-bottom: 15px;
    border-radius: var(--border-radius-default);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button-close:hover {
    transform: scale(.95);
    box-shadow: 0 0 10px 0 rgba(138, 43, 226, 0.5);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6em;
    text-align: center;
    background-color: var(--background-default); 
    color: #444;
    width: 100%;

    box-sizing: border-box;
}

footer hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
}

.footer {
    font-size: .8rem;    
}

.like {
    height: 2rem;
    width: 4rem;
}

@media only screen and (max-width: 768px){ 

    .sheet {
        width: 80%;
        padding: 0;
    }

    .sheet h2 {
        font-size: 2.5rem;
    }

    .sheet h3 {
        text-align: center;
    }
    
    .section-title {
        flex-direction: column;
        align-items: center;
    }

    .section-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .secret-section-content {
        max-width: 70%;
        max-height: 50%;
    }

    .secret-section-content ul {
        margin-top: 1rem;
    }

    footer {
        margin: 0;
    }
}

@media only screen and (max-width: 425px){
    .sheet {
        width: 100%;
        text-align: center;
    }

    .sheet h3 {
        margin-bottom: 1rem;
    }

    .skills-lists {
        gap: 2rem;

    }

    .secret-section-content {
        max-width: 100%;
        max-height: 60%;
        text-align: justify;
    }

    .secret-section-body{
        width: 100%;
    }

    .secret-section-content img {
        margin-left: 0;
    }

    .footer {
        font-size: .7rem;
    }
}


@media only screen and (max-width: 375px){
    .sheet h1 {
        font-size: 2.7rem;
    }

    .sheet h2 {
        font-size: 1.8rem;
    }
}